* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif; */
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 0 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.logo h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
    text-align: right;
}

.input {
    position: relative;
}

.input input {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    outline: hidden;
    padding: 10px 40px 10px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.input .icon_input {
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.bi-x-lg {
    display: none;
}

.header_burger {
    display: none;
}

.btns {
    display: flex;
    gap: 30px;
}

.btn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #007163;
    border: 1px solid #007163;
    border-radius: 5px;
    padding: 13px 52px;
}

.btn.green {
    background: #007163;
    border-radius: 5px;
    color: #FFFFFF;
}

.category {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.category ul {
    list-style: none;
    display: flex;
    gap: 104px;
}

.category ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    color: #000000;
    padding: 15px 0;

}

/* .active {
    border-bottom: 2px solid #007163;
} */



.section {
    padding: 50px 30px;
    position: relative;
}

.interior_section {}

.wrapper_circles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle_green {
    width: 100px;
    height: 234px;
    border-radius: 0 50% 50% 0;
    background: #007163;
    opacity: .7;
    filter: blur(100px);
}

.main_circle_orange {
    display: flex;
    justify-content: flex-end;
}

.circle_orange {
    width: 100px;
    height: 234px;
    border-radius: 50% 0 0 50%;
    background: #A67C52;
    opacity: .7;
    filter: blur(100px);
}

.interior_section h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;

    color: #000000;
    margin: 0 0 30px;
}

.content {
    display: flex;
    gap: 30px;
    margin: 0 0 50px;
}

.artist {
    max-width: 263px;
}

.artist p {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */


    color: #000000;
    margin: 0 0 25px;
}

.artist img {
    width: 100%;
    margin: 0 0 30px;
}

.btn {
    text-align: center;
    display: inline-block;
}

.artist .btn.green {
    display: block;
}

.green {}

.main_info_artist {
    width: 100%;
}

.main_info_artist .list {
    display: flex;
    gap: 43px;
    border-bottom: 1px solid #D6D0C1;
    margin: 0 0 25px;
}

.main_info_artist .list li {
    padding: 17px 0;
}

.info_artist {
    border: 1px solid #D6D0C1;
    border-radius: 5px;
    padding: 20px;
}

.top {
    border-bottom: 1px solid #D6D0C1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 20px;
}

.top h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #A67C52;
}

.top h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.top p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.bottom {}

.bottom ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 13px 0;
}

.bottom ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #D6D0C1;
    display: flex;
    gap: 12.54px;
}

.bottom ul li.active_link i {
    color: #007163;
}

.bottom ul li.active_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

}

.reviews {
    display: flex;
    justify-content: flex-end;
}

.interior_reviews {
    max-width: 848px;
}

.title_reviews {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0 0 25px;
}

.title_reviews h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #000000;

}

.title_reviews .rang {
    display: flex;
    gap: 5px;
    align-items: center;
}

.title_reviews i {
    color: #FFC107;
    font-size: 20px;
}

.coments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.coment {
    border: 1px solid #D6D0C1;
    border-radius: 5px;
    padding: 20px 25px;
}

.coment p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */


    color: #000000;
    margin: 12px 0 0 0;
}

.avtor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avtor .logo {
    background: #007163;
    color: white;
    padding: 7px 11px;
    border-radius: 50%;
    font-size: 20px;
}

.avtor_name {}

.name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name .rang {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFC107;
    font-size: 12px;
}

.name h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.data {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #A67C52;
}


.btns_page {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 40px 0;
}

.btn_page {
    border: 1px solid #007163;
    border-radius: 2px;
    padding: 8px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    cursor: pointer;
}

.btn_page.active {
    background: #007163;
    color: #fff;
}

.btn_page.next {
    padding: 8px 10px;
}

footer {
    text-align: center;
    padding: 0 30px;
}

.interior_footer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    /* margin: 0 0 30px; */
}

.interior_footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.interior_footer .ul_2 {
    flex-grow: 0;
}

.interior_footer ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

footer p {
    padding: 15px 0;
}



.main_popup.hidden {
    display: none;
}

.main_popup.active {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.popup {
    background: white;
    text-align: center;
    padding: 40px 30px;
    margin: 0 30px;
    position: relative;
}

.popup h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    padding: 0 0 15px;
    margin: 0 0 25px;
    color: #000000;
    border-bottom: 1px solid #E8E8E8;
}

.input_bock {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 0 0 30px;
}

.input_bock input {
    opacity: 0.5;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    padding: 13px 20px;
    width: 469px;
}

.btn {
    display: inline-block;
}

.close {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    position: absolute;
    right: 0;
    margin: 0 30px 0 0;
    cursor: pointer;
}

.close span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
    transform: scale(0);
}

.close:before,
.close:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.close::before {
    transform: rotate(45deg);
    top: 9px;
}

.close::after {
    transform: rotate(-45deg);
    bottom: 9px;
}



.main_popup_2.hidden {
    display: none;
}

.main_popup_2.active {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}